#resendMail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    margin-left: 50%;
    margin-top: 30px;
}

#resendMail-button {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #6786aa;
    color: #6786aa;
    margin-right: 50%;
}

#resendMail-button:hover {
    color: white;
    background-color: #6786aa;
}

#resendMail-button:disabled {
    background-color: #5c78988c;
    color: rgba(239, 227, 227, 0.796);
    border-color: #5c78988c ;
    border-width: 0px;
}

#dialog-container{
    border-top: #6786aa 15px solid;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}

#title {
    margin-top: 50px;
}