<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">Author</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Catcher in the Rye</h1> 
          
          <div class="flex mb-4">
           
          </div>
          <p class="leading-relaxed">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub red bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
         
          <mat-divider> </mat-divider>
          <div id="control" class="flex">

            <div id="priceTag">
                <div class="inline-block relative py-1 text-xl">
                    <div class="absolute inset-0 text-red-200 flex">
                        <svg height="100%" viewBox="0 0 50 100">
                            <path
                                d="M49.9,0a17.1,17.1,0,0,0-12,5L5,37.9A17,17,0,0,0,5,62L37.9,94.9a17.1,17.1,0,0,0,12,5ZM25.4,59.4a9.5,9.5,0,1,1,9.5-9.5A9.5,9.5,0,0,1,25.4,59.4Z"
                                fill="currentColor" />
                        </svg>
                        <div class="flex-grow h-full -ml-px bg-red-200 rounded-md rounded-l-none"></div>
                    </div>
                    <span class="relative text-red-500 uppercase font-semibold pr-px">
                      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>tag name<span>&nbsp;</span>
                    </span>
                </div>
            </div>

            <div>
            <button
              class="py-2 px-8 bg-transparent text-green-600 font-semibold border border-green-600 rounded hover:bg-green-600 hover:text-white hover:border-transparent transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
            > Order Now </button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>